Test
# New Section

In [ ]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

#import dataset as a pandas dataframe
df = pd.read_csv("healthcare-dataset-stroke-data.csv")

#import data for table joins
gender = pd.read_csv("gender.csv")
married = pd.read_csv("married.csv")
residence = pd.read_csv("residence.csv")
smoked = pd.read_csv("smoked.csv")
work = pd.read_csv("work.csv")

In [ ]:
hf = df.loc[df["work_type"] == "children"]
print(len(hf.index))

print(len(df.index))

687
5110

In [ ]:
# get rid of unimportant columns

df = df.drop(columns=['id'])


print(df.dtypes)

df.describe().transpose()

gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

,count,mean,std,min,25%,50%,75%,max
age,5110.0,43.226614,22.612647,0.08,25.000,45.000,61.00,82.00
hypertension,5110.0,0.097456,0.296607,0.00,0.000,0.000,0.00,1.00
heart_disease,5110.0,0.054012,0.226063,0.00,0.000,0.000,0.00,1.00
avg_glucose_level,5110.0,106.147677,45.283560,55.12,77.245,91.885,114.09,271.74
bmi,4909.0,28.893237,7.854067,10.30,23.500,28.100,33.10,97.60
stroke,5110.0,0.048728,0.215320,0.00,0.000,0.000,0.00,1.00

In [ ]:
#using inner table joins, enumerate the columns that use strings. This will add the enumerated columns
df = pd.merge(df,gender,how = "inner",on="gender")


df = pd.merge(df,married,how = "inner",on="ever_married")


df = pd.merge(df,residence, how ="inner",on="Residence_type")

df = pd.merge(df,smoked,how = "inner", on="smoking_status")


df = pd.merge(df,work,how = "inner",on="work_type")


print(len(df.index))
hf = df.loc[df["work_value"] == 3]
print(len(hf.index))








#leave only enumerated columns 
df.drop(columns=['gender', "ever_married", "Residence_type", "smoking_status", "work_type"], inplace=True)

#check to make sure everything looks right
df.head()

5110
687

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_value,maried_value,residence_value,smoking_value,work_value
0,67.0,0,1,228.69,36.6,1,1,2,1,2,1
1,81.0,0,0,186.21,29.0,1,1,2,1,2,1
2,71.0,0,0,102.87,27.2,1,1,2,1,2,1
3,78.0,1,0,75.32,NaN,1,1,2,1,2,1
4,78.0,0,0,237.75,NaN,1,1,2,1,2,1

In [ ]:
#verifty every column is an number
print(df.dtypes)

age                  float64
hypertension           int64
heart_disease          int64
avg_glucose_level    float64
bmi                  float64
stroke                 int64
gender_value           int64
maried_value           int64
residence_value        int64
smoking_value          int64
work_value             int64
dtype: object

In [ ]:
# amount of usuable data in the bmi 
hf = df.loc[np.isnan(df['bmi'])]
print(len(hf.index))

201

In [ ]:
#Checking for NaNs in each column, this does not include the unusable data in smoking ("Unknown = 1")
df.isna().sum()

age                    0
hypertension           0
heart_disease          0
avg_glucose_level      0
bmi                  201
stroke                 0
gender_value           0
maried_value           0
residence_value        0
smoking_value          0
work_value             0
dtype: int64

In [ ]:
#number of rows with the exact same information
print(df.duplicated().sum())

0